extends layout

block content
  .container
    .row.text-center
      .col-lg-12
        h1 Node-Express-Boilerplate
    .row.text-center
      .col-lg-12
        p A boilerplate for building web apps using express, mongoose and passport.