doctype html
html
  head
    title= `${title} | ${h.appName}`
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-social.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/bootstrap.bundle.min.js')
    script(src='/javascripts/popper/popper.min.js')
  body.text-justify
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container-fluid
        a(href="/").navbar-brand.py-0 #{h.appName}
        button(type="button" data-toggle="collapse" data-target="#navbarCollapse"  aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation").navbar-toggler.navbar-toggler-right
          span.navbar-toggler-icon
        .collapse.navbar-collapse(id="navbarCollapse")
          ul.navbar-nav.ml-auto
            li.nav-item.active
              a(href="/login").nav-link Login
                span.sr-only (current)
            li.nav-item.active
              a(href="/register").nav-link Register
                span.sr-only (current)
            if user
                li.nav-item
                   a.nav-link(href="/account")= user.email
                li
                  a.nav-link(href="/logout") logout
    .container
      .row.text-center
        block content
